body {
    color: #333333;
    margin-top: 40px;
}

a {
  color: #333333;
  text-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}

a:hover {
  color: #EA4D67;
  text-decoration: none;
  border-bottom-color: #EA4D67;
}

.header {
    font-family: 'Quicksand', sans-serif;
}

.header h1.gr-eg {
    font-family: 'Quicksand', sans-serif;
    font-size: 72px;
}

.header h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

.social-icons {
    font-size: 24px;
    font-size: 32px;
}

.social-icons a {
    margin: 0 15px;
    color: #333333;
    border-bottom: none;
}

.social-icons a:hover {
   color: #2980b9;
   cursor: pointer;
}
